.header {
  background-color: #1d06e6;
  padding-top: 8px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px #1d06e6;
}

.form {
  position: relative;
  display: flex;
  gap: 20px;
  background-color: #fff;
}

.input {
  font-family: "Montserrat-Regular";
  min-width: 280px;
  padding: 4px 8px;
  border: none;
}
.btn {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 2px;
  right: 0;
  color: #1d06e6;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: rgb(255, 0, 0);
}
@media (min-width: 768px) {
  .input {
    width: 700px;
  }
}
